.sidebar{
    display: flex;
    flex-direction: column;
    position:fixed;
    top:60px;
    left: 0;
    bottom:0;
    background-color: white;
    z-index: 99;
    padding-top:0px;
    width: 64px;
    margin-left: 6px;
}
.sidebar-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 14px;
    border-radius: 15px;
    height: 44px;
    width: 64px;
}
.sidebar-buttons:hover{
    cursor: pointer;
    background-color: rgb(241, 240, 240);   
}
.sidebar-buttons img{
    height: 24px;
    width: 24px;
    margin-bottom: 6px;
}
.sidebar-buttons div{
    font-size: 10px;
}

